:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-weight-bold: 700;
  font-weight-medium: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --white: #f9f9f9;
  background-color: #151F2C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-base: 1em;
  --font-heading-one: 48px;
  --font-heading-two: 30px;
  --font-heading-three: 24px;
  --font-heading-four: 20px;
  --font-heading-five: var(--font-base);
  --font-heading-small: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

p {
  font-size: var(--font-base);
  color: var(--white);
  line-height: 2;
}

button {
  font-size: var(--font-base);
  color: var(--white);
  background-color: #151F2C;
  border: 1px solid var(--white);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: linear-gradient(100deg, #F9F9F9 0%, #969DD8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 2.5rem;
}

h1 {
  font-size: var(--font-heading-one);
}
h2 {
  font-size: var(--font-heading-two);
}
h3 {
  font-size: var(--font-heading-three);
}
h4 {
  font-size: var(--font-heading-four);
}
h5 {
  font-size: var(--font-heading-five);
}
h6 {
  font-size: var(--font-heading-small);
}

.container {
  max-width: 1200px;
}

section, .section {
  margin-block: 5rem;
  padding-block: 5rem;
}

.container-fluid {
  max-width: 100%;
}

section {
  margin: 5rem auto;
}

.container:not(section),
.container-fluid:not(section) {
  margin: auto;
  /* padding-inline: 1rem; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 0.5rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */